body{
    color: blue;
    background-color: pink;
    font-style: italic;
}
p{
    background-color: white;
}

#boxer{
    background-color: blueviolet;
}

#apple{
    background-color:  red;
}

.pineapple{
    background-color: yellow;
}